:80 {
	file_server {
		root /var/www/file
		browse /etc/caddy/browse.html
		hide .*
	}

	header {
		-Vary
		-Server
	}

	@staticFiles {
		path_regexp \.(tar|txt|ico|ttf|pdf|zst|xz|zip|iso|png|md|jpg|svg|js|css|apk|deb|tar\.zst|tar\.gz)$
	}

	header @staticFiles Cache-Control "public, s-maxage=31536000, immutable"
}
