name: "pocket-id"

services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:latest
    container_name: pocket-id
    environment:
      APP_NAME: ${POCKET_ID_APP_NAME}
      APP_URL: "https://${POCKET_ID_DOMAIN}"
      DISABLE_ANIMATIONS: "true"
      TRUST_PROXY: "true"
      ENCRYPTION_KEY: "${POCKET_ID_ENC_KEY}"
      TZ: "${TZ:-UTC}"
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    hostname: pocket-id
    labels:
      traefik.enable: "true"
      traefik.http.middlewares.net-internal.ipallowlist.sourcerange: "${PRIVATE_IPV4_SUBNET}, ${PRIVATE_IPV6_SUBNET}, ${DOCKER_NET_IPV4_SUBNET}, ${DOCKER_NET_IPV6_SUBNET}"
      traefik.http.routers.pocket-id.entrypoints: "websecure"
      traefik.http.routers.pocket-id.middlewares: "net-internal"
      traefik.http.routers.pocket-id.rule: "Host(`${POCKET_ID_DOMAIN}`)"
      traefik.http.routers.pocket-id.service: "pocket-id"
      traefik.http.routers.pocket-id.tls: "true"
      traefik.http.services.pocket-id.loadbalancer.server.port: "1411"
    networks:
      - "infra-1"
    restart: "always"
    user: "${USER_ID}:${GROUP_ID}"
    volumes:
      - ./data:/app/data
