# --- General --- #
TZ=""
USER_ID=""
GROUP_ID=""

# --- Compose networking --- #
DOCKER_NET_IPV4_SUBNET=""
DOCKER_NET_IPV6_SUBNET=""

PUBLIC_IP_IPV4=""
PUBLIC_IP_IPV6=""

PRIVATE_IPV4=""
PRIVATE_IPV4_SUBNET=""

PRIVATE_IPV6=""
PRIVATE_IPV6_SUBNET=""

# --- AdguardHome --- #
ADGUARDHOME_DOMAIN=""
ADGUARDHOME_OIDC_SECRET=""
ADGUARDHOME_OIDC_CLIENT_ID=""
ADGUARDHOME_OIDC_CLIENT_SECRET=""

# --- Backrest --- #
BACKREST_DOMAIN=""
BACKREST_OIDC_SECRET=""
BACKREST_OIDC_CLIENT_ID=""
BACKREST_OIDC_CLIENT_SECRET=""

# --- CrowdSec --- #
CROWDSEC_IP_ADDR=""

# --- Grafana --- #
GRAFANA_DOMAIN=""
GRAFANA_OAUTH_CLIENT_ID=""
GRAFANA_OAUTH_CLIENT_SECRET=""

# --- Pocket-ID --- #
POCKET_ID_DOMAIN=""
POCKET_ID_APP_NAME=""
POCKET_ID_ENC_KEY=""

# --- Prometheus --- #
PROMETHEUS_DOMAIN=""
PROMETHEUS_OIDC_SECRET=""
PROMETHEUS_OIDC_CLIENT_ID=""
PROMETHEUS_OIDC_CLIENT_SECRET=""

# --- Stalwart --- #
STALWART_DOMAIN=""

# --- Traefik --- #
TRAEFIK_CAPTCHA_PROTECT_SITEKEY=""
TRAEFIK_CAPTCHA_PROTECT_SECRETKEY=""
TRAEFIK_CROWDSEC_LAPI_KEY=""
TRAEFIK_DOMAIN=""
TRAEFIK_OIDC_SECRET=""
TRAEFIK_OIDC_CLIENT_ID=""
TRAEFIK_OIDC_SECRET_KEY=""
TRAEFIK_PRIVATE_CERT_FILE=""
TRAEFIK_PRIVATE_CERT_KEY=""
TRAEFIK_PUBLIC_CERT_FILE=""
TRAEFIK_PUBLIC_CERT_KEY=""

# --- Web --- #
WEB_DIR=""
