name: "crowdsec"

services:
  crowdsec:
    container_name: "crowdsec"
    environment:
      COLLECTIONS: "crowdsecurity/endlessh crowdsecurity/traefik crowdsecurity/base-http-scenarios crowdsecurity/http-cve crowdsecurity/linux crowdsecurity/iptables"
      TZ: "${TZ:-UTC}"
    healthcheck:
      test: ["CMD", "cscli", "lapi", "status"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    hostname: "crowdsec"
    image: "crowdsecurity/crowdsec:latest"
    networks:
      infra-1:
        ipv4_address: "${CROWDSEC_IP_ADDR}"
    restart: "always"
    user: "${USER_ID}:${GROUP_ID}"
    volumes:
      - "./data/config:/etc/crowdsec"
      - "./data/db:/var/lib/crowdsec/data"
      - "/var/log:/var/log:ro"
      - "../traefik/logs:/logs/traefik:ro"
      - "../endlessh/logs:/logs/endlessh:ro"
